In [28]:
import pandas as pd

linkGoogle='https://docs.google.com/spreadsheets/d/e/2PACX-1vR2eCmEXBjON6o1KoFom5vy6bctoneONXa1nWSPpj-zsSVbFfpvlVb5_QZBLwm7kw/pub?output=xlsx'

In [29]:
pairwise_learning=pd.read_excel(linkGoogle,sheet_name='learning', index_col=0)
pairwise_learning

          School A  School B  School C
School A       NaN  0.333333       0.5
School B       3.0       NaN       3.0
School C       2.0  0.333333       NaN

In [30]:
pairwise_friends=pd.read_excel(linkGoogle,sheet_name='friends', index_col=0)
pairwise_school_life=pd.read_excel(linkGoogle,sheet_name='school life', index_col=0)
pairwise_vocational=pd.read_excel(linkGoogle,sheet_name='vocational training', index_col=0)
pairwise_college_prep=pd.read_excel(linkGoogle,sheet_name='college prep', index_col=0)
pairwise_music=pd.read_excel(linkGoogle,sheet_name='music classes', index_col=0)
pairwise_criteria=pd.read_excel(linkGoogle,sheet_name='criteria', index_col=0)
pairwise_criteria

,learning,friends,school life,vocational training,college prep,music classes
learning,NaN,4.000000,3.0,1.0,3.000000,4.000000
friends,0.250000,NaN,7.0,3.0,0.200000,1.000000
school life,0.333333,0.142857,NaN,0.2,0.200000,0.166667
vocational training,1.000000,0.333333,5.0,NaN,1.000000,0.333333
college prep,0.333333,5.000000,5.0,1.0,NaN,3.000000
music classes,0.250000,1.000000,6.0,3.0,0.333333,NaN

In [31]:
import networkx as nx

G_learning = nx.from_pandas_adjacency(pairwise_learning, 
                                 create_using=nx.MultiDiGraph())

# pairwise
G_learning.edges(data=True)

OutMultiEdgeDataView([('School A', 'School A', {'weight': nan}), ('School A', 'School B', {'weight': 0.3333333333333333}), ('School A', 'School C', {'weight': 0.5}), ('School B', 'School B', {'weight': nan}), ('School B', 'School A', {'weight': 3.0}), ('School B', 'School C', {'weight': 3.0}), ('School C', 'School C', {'weight': nan}), ('School C', 'School A', {'weight': 2.0}), ('School C', 'School B', {'weight': 0.3333333333333333})])

In [32]:
import numpy as np 
learning_comparisons={(e[0],e[1]):e[2]['weight'] for e in G_learning.edges(data=True) if np.isfinite(e[2]['weight'])}

In [33]:
# remaining comparisons
G_friends = nx.from_pandas_adjacency(pairwise_friends,create_using=nx.MultiDiGraph())
friends_comparisons={(e[0],e[1]):e[2]['weight'] for e in G_friends.edges(data=True) if np.isfinite(e[2]['weight'])}

G_school_life = nx.from_pandas_adjacency(pairwise_school_life,create_using=nx.MultiDiGraph())
school_life_comparisons={(e[0],e[1]):e[2]['weight'] for e in G_school_life.edges(data=True) if np.isfinite(e[2]['weight'])}

G_vocational = nx.from_pandas_adjacency(pairwise_vocational,create_using=nx.MultiDiGraph())
vocational_comparisons={(e[0],e[1]):e[2]['weight'] for e in G_vocational.edges(data=True) if np.isfinite(e[2]['weight'])}

G_college_prep = nx.from_pandas_adjacency(pairwise_college_prep,create_using=nx.MultiDiGraph())
college_prep_comparisons={(e[0],e[1]):e[2]['weight'] for e in G_college_prep.edges(data=True) if np.isfinite(e[2]['weight'])}

G_music = nx.from_pandas_adjacency(pairwise_music,create_using=nx.MultiDiGraph())
music_comparisons={(e[0],e[1]):e[2]['weight'] for e in G_music.edges(data=True) if np.isfinite(e[2]['weight'])}

In [34]:
# checking
[learning_comparisons, friends_comparisons,vocational_comparisons,college_prep_comparisons, music_comparisons]

[{('School A', 'School B'): 0.3333333333333333,
  ('School A', 'School C'): 0.5,
  ('School B', 'School A'): 3.0,
  ('School B', 'School C'): 3.0,
  ('School C', 'School A'): 2.0,
  ('School C', 'School B'): 0.3333333333333333},
 {('School A', 'School B'): 1.0,
  ('School A', 'School C'): 1.0,
  ('School B', 'School A'): 1.0,
  ('School B', 'School C'): 1.0,
  ('School C', 'School A'): 1.0,
  ('School C', 'School B'): 1.0},
 {('School A', 'School B'): 9.0,
  ('School A', 'School C'): 7.0,
  ('School B', 'School A'): 0.1111111111111111,
  ('School B', 'School C'): 0.2,
  ('School C', 'School A'): 0.14285714285714285,
  ('School C', 'School B'): 5.0},
 {('School A', 'School B'): 0.5,
  ('School A', 'School C'): 1.0,
  ('School B', 'School A'): 2.0,
  ('School B', 'School C'): 2.0,
  ('School C', 'School A'): 1.0,
  ('School C', 'School B'): 0.5},
 {('School A', 'School B'): 6.0,
  ('School A', 'School C'): 4.0,
  ('School B', 'School A'): 0.16666666666666666,
  ('School B', 'School C'): 0.3333333333333333,
  ('School C', 'School A'): 0.25,
  ('School C', 'School B'): 3.0}]

In [35]:
G_CRIT = nx.from_pandas_adjacency(pairwise_criteria,create_using=nx.MultiDiGraph())
criteria_comparisons ={(e[0],e[1]):e[2]['weight'] for e in G_CRIT.edges(data=True) if np.isfinite(e[2]['weight'])}
criteria_comparisons

{('learning', 'friends'): 4.0,
 ('learning', 'school life'): 3.0,
 ('learning', 'vocational training'): 1.0,
 ('learning', 'college prep'): 3.0,
 ('learning', 'music classes'): 4.0,
 ('friends', 'learning'): 0.25,
 ('friends', 'school life'): 7.0,
 ('friends', 'vocational training'): 3.0,
 ('friends', 'college prep'): 0.2,
 ('friends', 'music classes'): 1.0,
 ('school life', 'learning'): 0.3333333333333333,
 ('school life', 'friends'): 0.14285714285714285,
 ('school life', 'vocational training'): 0.2,
 ('school life', 'college prep'): 0.2,
 ('school life', 'music classes'): 0.16666666666666666,
 ('vocational training', 'learning'): 1.0,
 ('vocational training', 'friends'): 0.3333333333333333,
 ('vocational training', 'school life'): 5.0,
 ('vocational training', 'college prep'): 1.0,
 ('vocational training', 'music classes'): 0.3333333333333333,
 ('college prep', 'learning'): 0.3333333333333333,
 ('college prep', 'friends'): 5.0,
 ('college prep', 'school life'): 5.0,
 ('college prep', 'vocational training'): 1.0,
 ('college prep', 'music classes'): 3.0,
 ('music classes', 'learning'): 0.25,
 ('music classes', 'friends'): 1.0,
 ('music classes', 'school life'): 6.0,
 ('music classes', 'vocational training'): 3.0,
 ('music classes', 'college prep'): 0.3333333333333333}

In [36]:
!pip install --force-reinstall numpy==1.26.4
!pip install ahpy

Collecting numpy==1.26.4
  Using cached numpy-1.26.4-cp312-cp312-macosx_11_0_arm64.whl.metadata (61 kB)
Using cached numpy-1.26.4-cp312-cp312-macosx_11_0_arm64.whl (13.7 MB)
Installing collected packages: numpy
  Attempting uninstall: numpy
    Found existing installation: numpy 1.26.4
    Uninstalling numpy-1.26.4:
      Successfully uninstalled numpy-1.26.4
Successfully installed numpy-1.26.4
Requirement already satisfied: ahpy in /opt/anaconda3/lib/python3.12/site-packages (2.0)
Requirement already satisfied: numpy in /opt/anaconda3/lib/python3.12/site-packages (from ahpy) (1.26.4)
Requirement already satisfied: scipy in /opt/anaconda3/lib/python3.12/site-packages (from ahpy) (1.13.1)

In [37]:
import ahpy

learning = ahpy.Compare('learning', learning_comparisons, random_index='saaty')
friends = ahpy.Compare('friends', friends_comparisons, random_index='saaty')
school_life = ahpy.Compare('school life', school_life_comparisons, random_index='saaty')
vocational_training = ahpy.Compare('vocational training', vocational_comparisons, random_index='saaty')
college_prep = ahpy.Compare('college prep', college_prep_comparisons, random_index='saaty')
music_classes = ahpy.Compare('music classes', music_comparisons, random_index='saaty')
criteria = ahpy.Compare('criteria', criteria_comparisons, random_index='saaty')

In [38]:
criteria.add_children([learning, friends, school_life, vocational_training, college_prep, music_classes])

In [51]:
print(criteria.target_weights)

{'School B': 0.3785, 'School A': 0.3674, 'School C': 0.2542}

In [53]:
# assess consistency

[(val.name,val.consistency_ratio) for val in [learning, friends, school_life, vocational_training, college_prep, music_classes, criteria]]

# a couple of values are greater than 0.1, but close enough and assuming this may have to do with ties

[('learning', 0.0516),
 ('friends', 0.0),
 ('school life', 0.0),
 ('vocational training', 0.2005),
 ('college prep', 0.0),
 ('music classes', 0.0516),
 ('criteria', 0.2272)]